*{
			box-sizing: border-box;
		}
		body{
			margin: 0;
			padding: 10px;
			font-family: sans-serif;
		}
		.wrapper{
			max-width: 800px;
			width: 100%;
			margin:0 auto;
		}
		.noWrapper{
			width: 100%;
			height: auto;
		}
